:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;

  --color-blue-40: #45a1ff;
  --color-blue-50: #0a84ff;
  --color-blue-60: #0060df;
  --color-blue-70: #003eaa;
  --color-blue-80: #002275;
  --color-blue-90: #000f40;

  --color-teal-50: #00feff;
  --color-teal-60: #00c8d7;
  --color-teal-70: #008ea4;
  --color-teal-80: #005a71;
  --color-teal-90: #002d3e;

  --color-yellow-50: #ffe900;
  --color-yellow-60: #d7b600;
  --color-yellow-70: #a47f00;
  --color-yellow-80: #715100;
  --color-yellow-90: #3e2800;

  --color-red-50: #ff0039;
  --color-red-60: #d70022;
  --color-red-70: #a4000f;
  --color-red-80: #5a0002;
  --color-red-90: #3e0200;
}

body {
  margin: 0;
  padding: 0;
}
